.con{
    background-color: 	#f7f7f7;
    padding:2rem 4rem;
   padding-left:5rem;
    height: 601px;
    overflow-y: scroll;
}
.con .card-wrapper .card{
    width:15.1rem;
}
.con .card-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}
.con .card-wrapper .card img{
    height:15rem;
    width:15rem;
    object-fit: cover;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    
}
.con .card-wrapper .card a{
    text-decoration: none;
    color:rgb(29, 26, 26);
}
.con .card-wrapper .card a:hover{
    text-decoration: underline;
}