:root{
  --primary: #3DCFD3;
  --dark: #161616;
  --pure: #FFFFFF;
  --ternary: #898989;
  --light: #F2F2F2;
  --secondary: #070606;
}

body {
  /* background: #599fd9; */
  background-image: #FFFFFF;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
.xxx{
  background-color:var(--light);
}
#popup2{
  display:none;
}
#popup1{
  z-index: 100000000;
  display:none;
}
 .vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
} 
hr{
  border-top: 3px double #8c8b8b;
  color: black;
}
#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.display_in{
  margin-left:4.3rem;
  max-width: 900px;
    display: flex;
    flex-direction: column;
    max-height:1000px;
    /* flex-wrap: wrap; */
}
.display_in .x{
  margin-top:1rem;
   /* margin-left:-4.3rem; */
  justify-content: center;
  text-align: justify;
  padding-right:1rem;
}
.display_in p{
  /* justify-content: center;
  text-align: justify; */
  /* margin-top:2rem; */
  font-size: 13px;
  font-weight: 400;
  /* padding-right:1rem; */
}

.display_in small{
  color:var(--dark);
}
.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}
.lead{
    text-align: justify;
}

.text-uppercase {
  letter-spacing: 0.1em;
}
.text-gray {
  color: #aaa;
}
.nav-link{
    text-transform: capitalize;
}
.nav-link:hover{
    background:#f3f2f2;
}
.text-primary{
    color:#7579e7 !important;
}
 #text {
      height: 25px;
      border-radius: 5px;
      padding: 4px;
      margin-bottom: 10px;
      border: thin solid blue;
      width: 80%;
    }
    #button {
      padding: 10px;
      width: 100px;
      color: white;
      background-color: green;
      border: none;
    }
    /* #box {
      background-color: black;
      margin: auto;
      width: 300px;
      padding: 20px;
    } */
    .labelname {
      color: whitesmoke;
      margin-right: 10px;
    }
    .buttons {
      margin-left:10rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 10%;
      -ms-grid-column-align: center;
    }
    .button__icon {
      display: inline-flex;
      align-items: center;
      padding: 0 24px;
      color: var(--dark);
      height: 100%;
    }
    ion-icon {
      font-size: 30px;
    }
    .ovrllly {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
    }
    .ovrllly:target {
      visibility: visible;
      opacity: 1;
    }

    .popup {
      margin:70px 0rem;
    margin-top:100px;
      margin-left:25rem;
      padding: 20px;
      background: var(--pure);
      border-radius: 5px;
      width: 60%;
      position: relative;
      transition: all 5s ease-in-out;
    }
    .ghj{
      margin-left:13rem;
      width: 70%;
      margin-top:3rem;
    }
    .xxx:hover{
      background:#4267B2;
    }
    .popup h4 {
      margin-top: 0;
      color: #333;
      font-family: Tahoma, Arial, sans-serif;
    }
    .popup .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }
    .popup .close:hover {
      color: #06d85f;
    }
    .popup .content {
      max-height: 30%;
      overflow: auto;
    }
    .file-upload {
      display: inline-flex;
      align-items: center;
      font-size: 15px;
    }

    .file-upload__input {
      display: none;
    }

    .file-upload__button {
      width:15rem;
      -webkit-appearance: none;
      background: #4267B2;
      border: 2px solid #000000;
      border-radius: 4px;
      outline: none;
      padding: 0.5em 0.8em;
      margin-right: 15px;
      color: #ffffff;
      font-size: 1em;
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      cursor: pointer;
    }

    .file-upload__button:active {
      background: #00745d;
    }

    .file-upload__label {
      max-width: 250px;
      font-size: 0.95em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-family: "Quicksand", sans-serif;
    } 
    a{
        text-decoration: none;
    }
    p{
        margin-left: 0;
    }
    #dis_div{
      height:fit-content;
      width:150%;
      margin-bottom: 2rem;
      margin-top: 2rem;
      outline:none;
      border-radius: 5px;
      border:1px solid #ccc;
      padding-left:15px;
      font-size:19px;
      border-bottom-width: 2px;
      transition:all 0.3s ease;
      display: flex;
  
    }
    #buttton_id{
        background-color: #0000ffff;
    }
    @media screen and (max-width: 700px) {
      .box {
        width: 70%;
      }
      .popup {
        width: 70%;
      }
    }
@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

.button:hover{
  color:red;
}
  



.xd{
  display:flex;
  /* flex-wrap: wrap; */
  /* position: absolute; */
  margin-top:0.5rem;
}
.intr{
  display:flex;
  flex-direction: column;
}
.xd b{
  font-size:14px;
  margin-left:5px;
}
.xd small{
  font-size:12px;
  font-weight: 100;
  margin-left:.3rem;
  margin-top:.2rem;
}
.xd span{
  margin-top:5rem;
}
.x{
 margin-top: 50px;
 margin-left: 0;
}
#APBTN{
  text-decoration: none;
}
#APBTN:hover{
color:var(--pure);
}

.inp input{
  height:2rem;
  width:20rem;
  margin-bottom: 1rem;
  outline:none;
  border-radius: 5px;
  border:1px solid #ccc;
  padding-left:15px;
  font-size:16px;
  border-bottom-width: 2px;
  transition:all 0.3s ease;
}
.inp input:focus{
  border-color:#9b59b6;
}

.inp{
  display:flex;
  flex-wrap: wrap;

}
.boxx{
  margin-right:2rem;
}
.inp label{
  font-size:18px;
  font-weight:500;
  display: block;
  margin-bottom: 5px;
} 
input[type=file]::file-selector-button {
  border: 2px solid transparent;
  padding: .2em .4em;
  border-radius: .2em;
  cursor: pointer;
  background-color: #a29bfe;
  transition: all 0.5s ease;
}

input[type=file]::file-selector-button:hover {
  background-color: #9b59b6;
  border: 2px solid transparent;
}
.btn-amar{
  margin-top:2rem;
  margin-bottom:1rem;
  width:40rem;
  margin-left:8rem;
}
.btnn{
width:30rem;
}
.vl {
  margin-left:45rem;
 margin-top:-40rem;
  border-left: 4px solid var(--ternary);
  height: 600px;
}
/* .overflow-auto::-webkit-scrollbar{
  width:0;
  } */