section.blog {
    background: white;
    padding-bottom: 12rem;
    max-height:550px;
    overflow-y: scroll;
}
section.blog::-webkit-scrollbar{
    width:0;
    }
section.blog .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

section.blog .card-wrapper .card {
    max-height: 450px;
    cursor: pointer;
    border-radius: 2%;
    background: var(--pure);
}
section.blog .card-wrapper .card .card-content {
    max-height: 200px;
    overflow-y: hidden;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

section.blog .card-wrapper .card .card-content h1 {
    font-size: 1rem;
    font-weight: 600;
}

section.blog .card-wrapper .card a {
    margin-top:-4rem;
    color: var(--secondary);
    text-decoration: none;
}

section.blog .card-wrapper .card .card-content span {
    color: var(--ternary);
    font-size: 0.8rem;
}
section.blog .card-wrapper .card .card-content button{
    background-color: transparent;
    border: none;
    outline:none;
    cursor: pointer;
}
section.blog .card-wrapper .card .card-content button:hover{
    color: var(--primary);
}
section.blog .card-wrapper .card .card-content p {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
     /* margin-bottom: 1rem; */
}

section.blog .card-wrapper .card  .read-more {
    font-family: 'Lato', sans-serif;
    color: rgb(82, 77, 77);
    margin-left:1.5rem;
}

section.blog .card-wrapper .card  a:hover {
    color: var(--primary);
}

section.blog .card-wrapper .card .img-wrapper img {
    border-radius: 2%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
form .button{
   margin-top:3rem;
   margin-bottom:0rem;
}
form .user-details .input-box input{
    width:40rem;
}
.closse{
    display:none;
}
.header{
    margin-bottom:2rem;
}
.header h1{
    color:var(--dark);
}
.header span{
    color:var(--ternary);
}
.notice{
    margin-bottom:3rem;
}
.notice p{
    text-align: justify;
    color:var(--secondary);
}
.xddd{
    padding-left:15rem;padding-right:15rem;
}
.pdf{
    display:none;
   padding:0rem 3rem;
}
.pdf embed{
    width="800px"; height="620px";
}
@media (max-width:576px){
 section.blog .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
}
.containerr{
    padding:5px 5px;
}
.containerr .title{
 margin-left:1rem;
}
.header{
    margin-left:1rem;
    margin-right:1rem;
}
.notice{
    margin-left:1rem;
    margin-right:1rem;
}
.pdf embed{
    height:900px;
    width:300px;
    margin-left:-1.5rem;
}
}