:root{
    --purple:#814096;
    --skyblue:#71b7e6;
    --gradient:linear-gradient(135deg,#71b7e6, #9b59b6);
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #F2F2F2;
    --secondary: #070606;
}
body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#71b7e6, #9b59b6);
}
body::-webkit-scrollbar{
    width:0;
}
html{
    scroll-behavior: smooth;
}
.signup{
    display: flex;
    padding:2rem 20rem;
}
.signup a{
    margin-right:4rem;
}
.signup button{
    width:10rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;

}
.container{
    max-width: 920px;
    background:var(--pure);
    width:100%;
    padding:25px 30px;
    border-radius: 5px;
}
.container .title{
    /* margin-bottom:1rem; */
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: "";
    position: absolute;
    left:0;
    bottom:0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#71b7e6, #9b59b6);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px 0 12px 0;
}
form{
    max-height:550px;
    overflow-y: scroll;
}
form::-webkit-scrollbar{
    width:0;
    }
form .user-details .input-box{
    width:calc(100%/2-20px);
}
.user-details .input-box .details{
    font-size:18px;
    font-weight:500;
    display:block;
    margin-bottom: 5px;
} 

.user-details .input-box .name input{
    width:19rem
}
.user-details .input-box .name .n{
    margin-right: 27px;
}
.user-details .input-box .upload{
    width:30rem;
}
.user-details .input-box input{
    height:2rem;
    width:14rem;
    margin-bottom: 1rem;
    outline:none;
    border-radius: 5px;
    border:1px solid #ccc;
    padding-left:15px;
    font-size:16px;
    border-bottom-width: 2px;
    transition:all 0.3s ease;
}
.user-details .input-box p{
    height:2rem;
    width:14rem;
    margin-bottom: 1rem;
    outline:none;
    border-radius: 5px;
    border:1px solid #9b59b6;
    padding-left:15px;
    font-size:16px;
    border-bottom-width: 2px;
    transition:all 0.3s ease;
}
.user-details .input-box input:focus{
    border-color:#9b59b6;
}
.gender-details .gender-title{
    font-weight: 500;
    font-size:18px;
}
.gender-details .category{
    display:flex;
    width:80%;
    justify-content: space-between;
    margin:14px 0;

}
.gender-details .xd{
    width:50%;
}
.gender-details .category label{
    display:flex;
    align-items: center;
}
.gender-details .category .dot{
    height:18px;
    width:18px;
    background:#d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border:5px solid  transparent;
    transition: all 0.3s ease;
}
#dot-1:checked~ .category label .one,
#dot-2:checked~ .category label .two,
#dot-3:checked~ .category label .three{
    border-color: #d9d9d9;
    background:#9b59b6;
}
#dott-1:checked~ .category label .one,
#dott-2:checked~ .category label .two{
    border-color: #d9d9d9;
    background:#9b59b6;
}
form input[type="radio"]{
    display:none;
}
form .button{
    margin:5px 0;
    height:45px;
}
form .button input{
    height:100%;
    width:100%;
    outline:none;
    color:#ffff;
    border:none;
    background:linear-gradient(135deg,#71b7e6, #9b59b6);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor:pointer;
}
form .button input:hover{
    background:linear-gradient(-135deg,#71b7e6, #9b59b6);
}
@media (max-width:584px){
    .container{
        max-width:100%;
    }
    form .user-details .input-box{
        margin-bottom:15px;
        width:100%;
    } 
    .gender-details .category{
        width:100%;
    }
}
input[type=file]::file-selector-button {
    border: 2px solid transparent;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: all 0.5s ease;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #9b59b6;
    border: 2px solid transparent;
  }

  .navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    text-align: left;
}
nav ul li, a, button{
    font-weight: 700;
    font-size: 18px;
    color: white;
    text-decoration: none;
}


.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: var(--dark);
}
.button1{
    padding: 9px 25px;
    background-color: var(--skyblue);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button1:hover{
    color: var(--dark);
}
.containerrrr{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,#71b7e6, #9b59b6);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
@media (max-width:576px){
 nav{
        text-align: left;
        margin-left: -2rem;
    }
    .user-details .input-box .name input{
    width:18rem
}
.user-details .input-box .upload{
    width:18rem;
}
.user-details .input-box input{
    width:18rem;
}
.gender-details .category{
   flex-direction:column;

}
}