.container form .user-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px 0 12px 0;
}
.user-details .input-box input{
    height:2rem;
    width:28rem;
    margin-bottom: 3rem;
    outline:none;
    border-radius: 5px;
    border:1px solid #ccc;
    padding-left:15px;
    font-size:16px;
    border-bottom-width: 2px;
    transition:all 0.3s ease;
}
